body, td {
	background: white;
	color: #3a3a3a;
	margin: 0;
	font: 12px sans-serif;
}

table.calendar {
	margin: 0 auto;
	border-spacing: 0 0;
	border-left: 1px solid #bbb;
	border-top: 1px solid #bbb;
}

.calendar td {
	border-right: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	padding: 3px 15px 20px 3px;
	text-align: right;
	vertical-align: top;
	width: 120px;
	height: 100px;
	cursor: pointer;
}

.calendar td span {
	margin-right: -10px;
}

.calendar td.extra {
	padding: 3px 10px;
	text-align: left;
	border: none;
	font: bold 30px 'Arial Narrow', sans-serif;
	line-height: 33px;
	cursor: auto;
}

.calendar td.shaded {
	background: #f2f2f2;
}

.calendar td.today {
	background: #e5e5e5;
}


.calendar textarea:focus {
	outline: none;
}

.calendar td.shaded textarea {
	background: white;
}

.calendar a:focus {
	outline: none;
}

@media only screen and (max-width: 770px) and (min-width: 480) {
	.calendar table,
	.calendar tbody,
	.calendar tr,
	.calendar td {
		min-height: 70px;
	}
}

@media only screen and (max-width: 480px) {
	table.calendar,
	.calendar tbody,
	.calendar tr,
	.calendar td {
		display: block;
	}
	.calendar td {
		width: 100%;
		box-sizing: border-box;
		min-height: 250px;
	}
	.calendar td span {
		//display: none;
	}
	.calendar td:nth-child(n+2) {
		display: none;
	}
}




    .calendar-wrapper,
    .calendar-wrapper-inner {
        max-height: 600px;
    }

   .calendar-wrapper {
        overflow: hidden;
    }

   .calendar-wrapper-inner {

    }